.cache
.DS_Store
.env
.env.*
.env.*.local
.eslintcache
.node_repl_history
.npm
.nyc_output
.pnp.*
.pnpm-debug.log*
.temp
.vscode
.vscode-test
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*.zip
coverage
dist
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
pids
public/manifest.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
